BEARER_AUTH_HOST=0.0.0.0
BEARER_AUTH_PORT=8080
BEARER_AUTH_TOKENS_SOURCE=./tokens/tokens.txt
BEARER_AUTH_TOKENS_FILE=/run/tokens/tokens.txt
BEARER_AUTH_LOG_LEVEL=INFO
BEARER_AUTH_UID=1000
BEARER_AUTH_GID=1000
